In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv("bom.movie_gross.csv")
df1.tail(10)

,title,studio,domestic_gross,foreign_gross,year
3377,Let Yourself Go,Men.,12200.0,NaN,2018
3378,Hannah (2018),PDF,11700.0,NaN,2018
3379,Souvenir,Strand,11400.0,NaN,2018
3380,Furious (Legend of Kolovrat),CARUSEL,10000.0,NaN,2018
3381,Beauty and the Dogs,Osci.,8900.0,NaN,2018
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [4]:
len(df1["studio"])#length of studios including the duplicates
len(df1["studio"].unique())#length of the unique studios in the data set

258

In [5]:
df2 = df1.groupby("studio")["title"].count()#grouping by studio in the title column to see the number of titles created by the studios
df2

studio
3D        1
A23       2
A24      49
ADC       2
AF        6
         ..
XL        2
YFG       1
Yash     14
Zee       1
Zeit.    16
Name: title, Length: 257, dtype: int64

In [6]:
#the data set has a lot of studios. scaling down the number by considering only the studios that have produced more than 5 movies
studio_counts = df1['studio'].value_counts()#finding the number of unique studios
list_of_unique_studios = studio_counts[studio_counts > 5].index.tolist()#converting the list of studios with more than 5 titles to a list
list_studio_df = df1[df1['studio'].isin(list_of_unique_studios)]

studiodf2= list_studio_df.groupby('studio').count()
print(len(studiodf2))
studiodf2.shape
studiodf2.head()

81

        title  domestic_gross  foreign_gross  year
studio
A24        49              49             19    49
AF          6               6              2     6
Abr.       10              10              2    10
Amazon      7               7              5     7
Anch.      18              18              8    18

In [7]:
#creating a list of the studios with more than 5 titles
new_studio_dataframe = list_studio_df.loc[(list_studio_df['studio'] == 'A24')|(list_studio_df['studio'] == 'AF')|(list_studio_df['studio'] == 'Abr.')|
                                     (list_studio_df['studio'] == 'Amazon')|(list_studio_df['studio'] == 'Anch.')|(list_studio_df['studio'] == 'Annapurna')|
                                     (list_studio_df['studio'] == 'BG')|(list_studio_df['studio'] == 'BST')|(list_studio_df['studio'] == 'BV')|
                                     (list_studio_df['studio'] == 'CBS')|(list_studio_df['studio'] == 'CGld')|(list_studio_df['studio'] == 'CJ')|
                                     (list_studio_df['studio'] == 'CL')|(list_studio_df['studio'] == 'Cdgm.')|(list_studio_df['studio'] == 'Cohen')|
                                     (list_studio_df['studio'] == 'Distrib.')|(list_studio_df['studio'] == 'Drft.')|(list_studio_df['studio'] == 'EOne')|
                                     (list_studio_df['studio'] == 'Elev.')|(list_studio_df['studio'] == 'Eros')|(list_studio_df['studio'] == 'FCW')|
                                     (list_studio_df['studio'] == 'FD')|(list_studio_df['studio'] == 'FIP')|(list_studio_df['studio'] == 'FM')|
                                     (list_studio_df['studio'] == 'FR')|(list_studio_df['studio'] == 'FRun')|(list_studio_df['studio'] == 'FUN')|
                                     (list_studio_df['studio'] == 'Fathom')|(list_studio_df['studio'] == 'Focus')|(list_studio_df['studio'] == 'Fox')|
                                     (list_studio_df['studio'] == 'FoxS')|(list_studio_df['studio'] == 'Free')|(list_studio_df['studio'] == 'GK')|
                                     (list_studio_df['studio'] == 'Gold.')|(list_studio_df['studio'] == 'IFC')|(list_studio_df['studio'] == 'Jan.')|
                                     (list_studio_df['studio'] == 'KL')|(list_studio_df['studio'] == 'Kino')|(list_studio_df['studio'] == 'LG/S')|
                                     (list_studio_df['studio'] == 'LGF')|(list_studio_df['studio'] == 'LGP')|(list_studio_df['studio'] == 'Lorb.')|
                                     (list_studio_df['studio'] == 'MBox')|(list_studio_df['studio'] == 'MNE')|(list_studio_df['studio'] == 'Magn.')|
                                     (list_studio_df['studio'] == 'Mont.')|(list_studio_df['studio'] == 'NGE')|(list_studio_df['studio'] == 'ORF')|
                                     (list_studio_df['studio'] == 'Orch.')|(list_studio_df['studio'] == 'Osci.')|(list_studio_df['studio'] == 'P/DW')|
                                     (list_studio_df['studio'] == 'PFR')|(list_studio_df['studio'] == 'PNT')|(list_studio_df['studio'] == 'Par.')|
                                     (list_studio_df['studio'] == 'RAtt.')|(list_studio_df['studio'] == 'RTWC')|(list_studio_df['studio'] == 'Rela.')|
                                     (list_studio_df['studio'] == 'Relbig.')|(list_studio_df['studio'] == 'Rialto')|(list_studio_df['studio'] == 'SGem')|
                                     (list_studio_df['studio'] == 'SPC')|(list_studio_df['studio'] == 'STX')|(list_studio_df['studio'] == 'Scre.')|
                                     (list_studio_df['studio'] == 'Sony')|(list_studio_df['studio'] == 'Strand')|(list_studio_df['studio'] == 'Sum.')|
                                     (list_studio_df['studio'] == 'TFA')|(list_studio_df['studio'] == 'TriS')|(list_studio_df['studio'] == 'Trib.')|
                                     (list_studio_df['studio'] == 'UTV')|(list_studio_df['studio'] == 'Uni.')|(list_studio_df['studio'] == 'VE')|
                                     (list_studio_df['studio'] == 'Vari.')|(list_studio_df['studio'] == 'Vita.')|(list_studio_df['studio'] == 'W/Dim.')|
                                     (list_studio_df['studio'] == 'WB')|(list_studio_df['studio'] == 'WB(NL)')|(list_studio_df['studio'] == 'WGUSA')|
                                     (list_studio_df['studio'] == 'Wein.')|(list_studio_df['studio'] == 'Yash')|(list_studio_df['studio'] == 'Zeit.')]
new_studio_dataframe

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3379,Souvenir,Strand,11400.0,NaN,2018
3381,Beauty and the Dogs,Osci.,8900.0,NaN,2018
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018

In [8]:
#from the table there are some NaN values.in this next step we count the unuique values after dropping the NaNs
new_studio_dataframe.nunique()

title             3019
studio              80
domestic_gross    1689
foreign_gross     1123
year                 9
dtype: int64

In [9]:
#most of these studios are abbreviated. I searched the internet using the specific title of movies to find the full meaning of abbreaviation
#(list_studio_df['studio'] == 'A24')
#(list_studio_df['studio'] == 'AF')
# (list_studio_df['studio'] == 'Abr.')
# (list_studio_df['studio'] == 'Amazon')
# (list_studio_df['studio'] == 'Anch.')
# (list_studio_df['studio'] == 'Annapurna')
list_studio_df.loc[list_studio_df['studio'] == 'BG','studio'] = 'Big Green Pictures'
list_studio_df.loc[list_studio_df['studio'] == 'BST','studio'] = 'Bleecker Street'
list_studio_df.loc[list_studio_df['studio'] == 'BV','studio'] = 'Buena Vista'
# (list_studio_df['studio'] == 'CBS')
# (list_studio_df['studio'] == 'CGld')
list_studio_df.loc[list_studio_df['studio'] == 'CJ','studio'] = 'CJ Entertainment'
list_studio_df.loc[list_studio_df['studio'] == 'CL','studio'] = 'CL Western Town'
list_studio_df.loc[list_studio_df['studio'] == 'Cdgm.','studio'] = 'Cinedigm'
list_studio_df.loc[list_studio_df['studio'] == 'Cohen','studio'] = 'Cohen Media Group'
list_studio_df.loc[list_studio_df['studio'] == 'Distrib.','studio'] = 'Mars Distribution'
list_studio_df.loc[list_studio_df['studio'] == 'Drft.','studio'] = 'Drafthouse Films'
list_studio_df.loc[list_studio_df['studio'] == 'EOne''studio'] = 'Entertainment One Films'
# (list_studio_df['studio'] == 'Elev.')
list_studio_df.loc[list_studio_df['studio'] == 'Eros','studio'] = 'Eros International'
list_studio_df.loc[list_studio_df['studio'] == 'FCW','studio'] = 'Focus World'
list_studio_df.loc[list_studio_df['studio'] == 'FD','studio'] = 'FilmDistrict'
list_studio_df.loc[list_studio_df['studio'] == 'FIP','studio'] = 'Fox Star Studios'
list_studio_df.loc[list_studio_df['studio'] == 'FM','studio'] = 'Film Movement'
list_studio_df.loc[list_studio_df['studio'] == 'FR','studio'] = 'FilmRise'
list_studio_df.loc[list_studio_df['studio'] == 'FRun', 'studio'] = 'First Run Features'
# (list_studio_df['studio'] == 'FUN')
list_studio_df.loc[list_studio_df['studio'] == 'Fathom','studio'] = 'Fathom Events'
list_studio_df.loc[list_studio_df['studio'] == 'Focus','studio'] = 'Focus Features'
# (list_studio_df['studio'] == 'Fox')
list_studio_df.loc[list_studio_df['studio'] == 'FoxS','studio'] = 'Fox Searchlight'
list_studio_df.loc[list_studio_df['studio'] == 'Free','studio'] = 'Freestyle Releasing'
list_studio_df.loc[list_studio_df['studio'] == 'GK','studio'] = 'GKIDS Films'
list_studio_df.loc[list_studio_df['studio'] == 'Gold.','studio'] = 'MGM'
list_studio_df.loc[list_studio_df['studio'] == 'IFC','studio'] = 'IFC Films'
list_studio_df.loc[list_studio_df['studio'] == 'Jan.','studio'] = 'Janus Films'
list_studio_df.loc[list_studio_df['studio'] == 'KL','studio'] = 'Kino Lorber'
# (list_studio_df['studio'] == 'Kino')
list_studio_df.loc[list_studio_df['studio'] == 'LG/S','studio'] = 'Lionsgate/Summit Entertainment'
list_studio_df.loc[list_studio_df['studio'] == 'LGF','studio'] = 'Lionsgate'
list_studio_df.loc[list_studio_df['studio'] == 'LGP','studio'] = 'Lionsgate Premiere'
list_studio_df.loc[list_studio_df['studio'] == 'Lorb.','studio'] = 'Lorber Films'
# (list_studio_df['studio'] == 'MBox')
list_studio_df.loc[list_studio_df['studio'] == 'MNE','studio'] = 'Millenium Entertainment'
list_studio_df.loc[list_studio_df['studio'] == 'Magn.','studio'] = 'Magnolia Pictures'
list_studio_df.loc[list_studio_df['studio'] == 'Mont.','studio'] = 'Monterey Media'
list_studio_df.loc[list_studio_df['studio'] == 'NGE','studio'] = 'National Geographic Entertainment'
list_studio_df.loc[list_studio_df['studio'] == 'ORF','studio'] = 'Open Road Films'
list_studio_df.loc[list_studio_df['studio'] == 'Orch.','studio'] = 'The Orchard'
list_studio_df.loc[list_studio_df['studio'] == 'Osci.','studio'] = 'Oscilloscope Laboratories'
list_studio_df.loc[list_studio_df['studio'] == 'P/DW','studio'] = 'Pixar/Dreamworks'
list_studio_df.loc[list_studio_df['studio'] == 'PFR','studio'] = 'Pure Flix'
list_studio_df.loc[list_studio_df['studio'] == 'PNT','studio'] = 'Pantelion Films'
list_studio_df.loc[list_studio_df['studio'] == 'Par.','studio'] = 'Paramount'
list_studio_df.loc[list_studio_df['studio'] == 'RAtt.','studio'] = 'Roadside Attractions'
list_studio_df.loc[list_studio_df['studio'] == 'RTWC','studio'] = 'Radius-TWC'
list_studio_df.loc[list_studio_df['studio'] == 'Rela.','studio'] = 'Relativity Media'
list_studio_df.loc[list_studio_df['studio'] == 'Relbig.','studio'] = 'Reliance Big Pictures'
# (list_studio_df['studio'] == 'Rialto')
list_studio_df.loc[list_studio_df['studio'] == 'SGem','studio'] = 'Screen Gems'
list_studio_df.loc[list_studio_df['studio'] == 'SPC','studio'] = 'Sony Pictures Classics'
# (list_studio_df['studio'] == 'STX')
list_studio_df.loc[list_studio_df['studio'] == 'Scre.','studio'] = 'Screen Media Films'
# (list_studio_df['studio'] == 'Sony')
# (list_studio_df['studio'] == 'Strand')
# (list_studio_df['studio'] == 'Sum.')
# (list_studio_df['studio'] == 'TFA')
list_studio_df.loc[list_studio_df['studio'] == 'TriS','studio'] = 'Sony Pictures'
list_studio_df.loc[list_studio_df['studio'] == 'Trib.','studio'] = 'Tribeca Film'
# (list_studio_df['studio'] == 'UTV')
list_studio_df.loc[list_studio_df['studio'] == 'Uni.','studio'] = 'Universal'
list_studio_df.loc[list_studio_df['studio'] == 'VE','studio'] = 'Vertical Entertainment'
list_studio_df.loc[list_studio_df['studio'] == 'Vari.','studio'] = 'VVariance Films'
list_studio_df.loc[list_studio_df['studio'] == 'Vita.','studio'] = 'Vitagraph Films'
list_studio_df.loc[list_studio_df['studio'] == 'W/Dim.','studio'] = 'Wein/Dimension'
# (list_studio_df['studio'] == 'WB')
# (list_studio_df['studio'] == 'WB(NL)')
list_studio_df.loc[list_studio_df['studio'] == 'WGUSA','studio'] = 'Well Go USA Inc.'
list_studio_df.loc[list_studio_df['studio'] == 'Wein.','studio'] = 'Weinstein Company'
list_studio_df.loc[list_studio_df['studio'] == 'Yash','studio'] = 'Yash Raj Films'
# (list_studio_df['studio']=="Zeit")
list_studio_df

C:\Users\user\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\user\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-04e9c6c44937>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Eros','studio'] = 'Eros International'
<ipython-input-9-04e9c6c44937>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FCW','studio'] = 'Focus World'
<ipython-input-9-04e9c6c44937>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FD','studio'] = 'FilmDistrict'
<ipython-input-9-04e9c6c44937>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FIP','studio'] = 'Fox Star Studios'
<ipython-input-9-04e9c6c44937>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FM','studio'] = 'Film Movement'
<ipython-input-9-04e9c6c44937>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FR','studio'] = 'FilmRise'
<ipython-input-9-04e9c6c44937>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FRun', 'studio'] = 'First Run Features'
<ipython-input-9-04e9c6c44937>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Fathom','studio'] = 'Fathom Events'
<ipython-input-9-04e9c6c44937>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Focus','studio'] = 'Focus Features'
<ipython-input-9-04e9c6c44937>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'FoxS','studio'] = 'Fox Searchlight'
<ipython-input-9-04e9c6c44937>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Free','studio'] = 'Freestyle Releasing'
<ipython-input-9-04e9c6c44937>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'GK','studio'] = 'GKIDS Films'
<ipython-input-9-04e9c6c44937>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Gold.','studio'] = 'MGM'
<ipython-input-9-04e9c6c44937>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'IFC','studio'] = 'IFC Films'
<ipython-input-9-04e9c6c44937>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Jan.','studio'] = 'Janus Films'
<ipython-input-9-04e9c6c44937>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'KL','studio'] = 'Kino Lorber'
<ipython-input-9-04e9c6c44937>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'LG/S','studio'] = 'Lionsgate/Summit Entertainment'
<ipython-input-9-04e9c6c44937>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'LGF','studio'] = 'Lionsgate'
<ipython-input-9-04e9c6c44937>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'LGP','studio'] = 'Lionsgate Premiere'
<ipython-input-9-04e9c6c44937>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Lorb.','studio'] = 'Lorber Films'
<ipython-input-9-04e9c6c44937>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'MNE','studio'] = 'Millenium Entertainment'
<ipython-input-9-04e9c6c44937>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Magn.','studio'] = 'Magnolia Pictures'
<ipython-input-9-04e9c6c44937>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Mont.','studio'] = 'Monterey Media'
<ipython-input-9-04e9c6c44937>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'NGE','studio'] = 'National Geographic Entertainment'
<ipython-input-9-04e9c6c44937>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'ORF','studio'] = 'Open Road Films'
<ipython-input-9-04e9c6c44937>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Orch.','studio'] = 'The Orchard'

<ipython-input-9-04e9c6c44937>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Osci.','studio'] = 'Oscilloscope Laboratories'
<ipython-input-9-04e9c6c44937>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'P/DW','studio'] = 'Pixar/Dreamworks'
<ipython-input-9-04e9c6c44937>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'PFR','studio'] = 'Pure Flix'
<ipython-input-9-04e9c6c44937>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'PNT','studio'] = 'Pantelion Films'
<ipython-input-9-04e9c6c44937>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Par.','studio'] = 'Paramount'
<ipython-input-9-04e9c6c44937>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'RAtt.','studio'] = 'Roadside Attractions'
<ipython-input-9-04e9c6c44937>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'RTWC','studio'] = 'Radius-TWC'
<ipython-input-9-04e9c6c44937>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Rela.','studio'] = 'Relativity Media'
<ipython-input-9-04e9c6c44937>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Relbig.','studio'] = 'Reliance Big Pictures'
<ipython-input-9-04e9c6c44937>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'SGem','studio'] = 'Screen Gems'
<ipython-input-9-04e9c6c44937>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'SPC','studio'] = 'Sony Pictures Classics'
<ipython-input-9-04e9c6c44937>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Scre.','studio'] = 'Screen Media Films'
<ipython-input-9-04e9c6c44937>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'TriS','studio'] = 'Sony Pictures'
<ipython-input-9-04e9c6c44937>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Trib.','studio'] = 'Tribeca Film'
<ipython-input-9-04e9c6c44937>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Uni.','studio'] = 'Universal'
<ipython-input-9-04e9c6c44937>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'VE','studio'] = 'Vertical Entertainment'
<ipython-input-9-04e9c6c44937>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Vari.','studio'] = 'VVariance Films'
<ipython-input-9-04e9c6c44937>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Vita.','studio'] = 'Vitagraph Films'
<ipython-input-9-04e9c6c44937>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'W/Dim.','studio'] = 'Wein/Dimension'
<ipython-input-9-04e9c6c44937>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'WGUSA','studio'] = 'Well Go USA Inc.'
<ipython-input-9-04e9c6c44937>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Wein.','studio'] = 'Weinstein Company'
<ipython-input-9-04e9c6c44937>:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_studio_df.loc[list_studio_df['studio'] == 'Yash','studio'] = 'Yash Raj Films'

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,Buena Vista,4.15e+08,652000000,2010
1,Alice in Wonderland (2010),Buena Vista,3.342e+08,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,2.96e+08,664300000,2010
3,Inception,WB,2.926e+08,535700000,2010
4,Shrek Forever After,Pixar/Dreamworks,2.387e+08,513900000,2010
...,...,...,...,...,...
3379,Souvenir,Strand,11400,NaN,2018
3381,Beauty and the Dogs,Oscilloscope Laboratories,8900,NaN,2018
3382,The Quake,Magnolia Pictures,6200,NaN,2018
3383,Edward II (2018 re-release),Film Movement,4800,NaN,2018
3384,El Pacto,Sony,2500,NaN,2018

In [10]:
list_studio_df.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,Buena Vista,4.15e+08,652000000,2010
1,Alice in Wonderland (2010),Buena Vista,3.342e+08,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,2.96e+08,664300000,2010
3,Inception,WB,2.926e+08,535700000,2010
4,Shrek Forever After,Pixar/Dreamworks,2.387e+08,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,3.005e+08,398000000,2010
6,Iron Man 2,Paramount,3.124e+08,311500000,2010
7,Tangled,Buena Vista,2.008e+08,391000000,2010
8,Despicable Me,Universal,2.515e+08,291600000,2010
9,How to Train Your Dragon,Pixar/Dreamworks,2.176e+08,277300000,2010

In [22]:
movie_genre_dataframe = pd.read_csv("title.basics.csv")
movie_genre_dataframe.head()
#movie_genre_dataframe.info()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [29]:
movie_genre_dataframe.drop(labels = ['runtime_minutes','tconst'], axis = 1 ,inplace = True)
movie_genre_dataframe

,primary_title,start_year,genres
0,Sunghursh,2013,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,"Biography,Drama"
2,The Other Side of the Wind,2018,Drama
3,Sabse Bada Sukh,2018,"Comedy,Drama"
4,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
...,...,...,...
146139,Kuambil Lagi Hatiku,2019,Drama
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,Dankyavar Danka,2013,Comedy
146142,6 Gunn,2017,NaN
146143,Chico Albuquerque - Revelações,2013,Documentary

In [30]:
movie_genre_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   primary_title  146144 non-null  object
 1   start_year     146144 non-null  int64
 2   genres         140736 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.3+ MB

In [31]:
movie_genre_dataframe.dropna(subset = ["genres"], inplace=True)
movie_genre_dataframe

,primary_title,start_year,genres
0,Sunghursh,2013,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,"Biography,Drama"
2,The Other Side of the Wind,2018,Drama
3,Sabse Bada Sukh,2018,"Comedy,Drama"
4,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
...,...,...,...
146138,The Secret of China,2019,"Adventure,History,War"
146139,Kuambil Lagi Hatiku,2019,Drama
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,Dankyavar Danka,2013,Comedy
146143,Chico Albuquerque - Revelações,2013,Documentary